// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
  background-color: #229AE8;
  color: white;
  list-style-type: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 40px;
  margin: 5px;
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  border:0.8px solid black;
  box-shadow: 5px 0px 5px;
}

p, h1{
  font-family: 'Noto Sans KR', sans-serif;
  padding: 10px 20px;
}

input[type=text]{
  width: 700px;
  height: 30px;
  padding: 0px 10px;
}

input[type=submit]{
  width: 80px;
}

form {
  margin: 20px 1px;
}




